{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">
    <div class="row" style="background-color:rgb(240, 238, 207);">
        <div class="col-sm-1 mt-4">
            <img src="{{product.image.url}}" class="img-fluid mx-auto" alt="{{product.name}}">
        </div>
        <div class="col-sm-4 mt-4 mb-4 ml-0">
            <img src="{{product.image.url}}" class="img-fluid mx-auto" width="500" alt="{{product.name}}" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        </div>        
        <div class="col-sm-6 mt-4 mb-4 ml-5" style="background-color:white;box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <p class="text-center" style=" color:rgb(197, 88, 88);font-size: 250%; font-family:'Merriweather', serif"><b>{{product.name}}</b></p>
            <hr>
            <p class="" style="font-size: 150%; font-family:Arial, Helvetica, sans-serif">{{product.desc}}</p>
            <p style="font-size: 180%"><i class="fa fa-inr" aria-hidden="true"></i> {{product.rate}}</p>
            <button type="button" class="btn btn-dark">Add to cart</button>
            <button type="button" class="btn btn-danger">Buy Now</button>
        </div>
    </div>
</section>

{% endblock %}