{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
        <h1 >Products</h1>
        <hr>
    </div>
</div>

<div class="row">
{% for product in products.all %}
<div class="card ml-5 mt-2" style="width: 18rem;">
        <img src="{{product.image.url}}" class="card-img-top" height="300" width="200" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title text-center">{{product.name}}</h5>
          <h4 class="text-center">{{product.rate}}</h4>
          <p class="card-text text-center">{{product.desc}}</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary">View more</a>
          </div>
        </div>
      </div>

{% endfor %}
</div>

{% endblock %}